<div class="footer">
    <!--footer-->
    <p>Copyright &copy; 2024 Team 05 Website. All rights reserved.</p>
   
 <!--socialMedia-->
<i class="bi bi-github" style="margin-right: 10px; font-size: 24px; transform: scale(1.0);"></i>
<i class="bi bi-ubuntu" style="margin-right: 10px; font-size: 24px; transform: scale(1.0);"></i>
<i class="bi bi-filetype-py" style="margin-right: 10px; font-size: 24px; transform: scale(1.0);"></i>
<i class="bi bi-git" style="margin-right: 10px; font-size: 24px; transform: scale(1.0);"></i>


</div>
